<div class="container border">
  <h2 class="header mt-3">{{ header }}</h2>
  {{{ description }}}
  <div id="encuesta"></div>
</div>

{{> script-section}}
<script src="/javascripts/epcpo.s2.js"></script>
