<div class="container">
  <h2 class="title">Datos Generales</h2>
  <p>ALCANCE: LA EVALUACIÓN SE APLICA A TODO EL PERSONAL QUE HAYA CUMPLIDO DOS MESES EN LA EMPRESA.</p>
  <p>Leer con atención cada uno de los item. Encontrará algunas preguntas de selección múltiple y otras de respuestas abiertas, debe responderlas todas para que el programa le permita continuar.</p>
  <div id="encuesta"></div>
</div>
<script src="/javascripts/epcpo.s2.js"></script>
